<a href="https://colab.research.google.com/github/Vsanku01/Deep-Learning-Tuts/blob/master/Google_Stock_Price_Prediction_Using_RNN_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%tensorflow_version 2.x

TensorFlow 2.x selected.

In [2]:
import tensorflow
print(tensorflow.__version__)

2.1.0

In [0]:
import pandas as pd
import numpy as np

In [0]:
train = pd.read_csv('/content/drive/My Drive/Datasets/Google Prediction/trainset.csv')
test = pd.read_csv('/content/drive/My Drive/Datasets/Google Prediction/testset.csv')

In [7]:
train.head()

         Date        Open        High  ...       Close   Adj Close   Volume
0  2013-01-02  357.385559  361.151062  ...  359.288177  359.288177  5115500
1  2013-01-03  360.122742  363.600128  ...  359.496826  359.496826  4666500
2  2013-01-04  362.313507  368.339294  ...  366.600616  366.600616  5562800
3  2013-01-07  365.348755  367.301056  ...  365.001007  365.001007  3332900
4  2013-01-08  365.393463  365.771027  ...  364.280701  364.280701  3373900

[5 rows x 7 columns]

In [8]:
test.head()

         Date         Open         High  ...        Close    Adj Close   Volume
0  2018-01-02  1048.339966  1066.939941  ...  1065.000000  1065.000000  1237600
1  2018-01-03  1064.310059  1086.290039  ...  1082.479980  1082.479980  1430200
2  2018-01-04  1088.000000  1093.569946  ...  1086.400024  1086.400024  1004600
3  2018-01-05  1094.000000  1104.250000  ...  1102.229980  1102.229980  1279100
4  2018-01-08  1102.229980  1111.270020  ...  1106.939941  1106.939941  1047600

[5 rows x 7 columns]